@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
/** MOBILE FIRST APPROACH **/

:root {
    --magenta: hsl(300, 43%, 22%);
    --pink: hsl(333, 80%, 67%);
    --magenta-light: hsl(303, 10%, 53%);
    --grayish-magenta: hsl(300, 24%, 96%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Spartan', sans-serif;
}